repos:
- repo: local
  hooks:
    - id: check
      name: check
      entry: hooks/check.py
      language: system  # Uses active environment, but not the venv in VS Code.
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
        ]
