defusedxml  # PIL\Image.py:1496: UserWarning: XMP data cannot be read without defusedxml dependency
pillow
pillow-avif-plugin
pillow-heif
pillow-jxl-plugin
pygame  # Render SVG
pyperclip
pyyaml  # Format XMP
tkinterdnd2
