defusedxml>=0.7.1  # PIL\Image.py:1496: UserWarning: XMP data cannot be read without defusedxml dependency
pillow>=12.0.0
pillow-heif>=1.1.1
pillow-jxl-plugin>=1.3.5
pygame>=2.6.1  # Render SVG
pyperclip>=1.11.0
pyyaml>=6.0.3  # Format XMP
tkinterdnd2>=0.4.3
