name: Black & Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v6  # 4.1.2 is the latest on https://github.com/actions/checkout/tags but GitHub Actions in VS Code can't find it.
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - name: Analysing the code with black
      run: |
        python -m black --check .  
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')
